@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities{
  body{
    @apply bg-background text-primary
  }
  
  h1, h2, h3, h4, h5, h6{
    @apply font-bold;
  }
  h1{
    @apply text-2xl text-accent-main
  }
  h2{
    @apply text-xl text-accent-main
  }
  h3{
    @apply text-lg text-accent-main
  }
  h4{
    @apply text-base text-accent-main
  }

  section{
    @apply py-8;
  }
}

@layer components{
  input[type="text"], input[type="number"], input[type="password"]{
    @apply bg-accent-alter border border-primary/40 px-2 py-1 rounded-md transition-all duration-200 hover:border-primary/60 focus:border-primary/80 placeholder:text-primary/60;
  }
  button[type="button"]{
    @apply bg-accent-alter border border-primary/40 px-4 py-2 rounded-md transition-all duration-200 hover:border-primary/60 active:border-primary/80;
  }
  input[type="checkbox"]{
    @apply before:content-[''] before:w-full before:h-full before:inline-block before:border before:border-primary/40 before:bg-transparent appearance-none w-6 h-6 before:transition-colors before:duration-200 before:rounded-sm
  }
  input[type="checkbox"]:checked{
    @apply before:bg-accent-alter before:bg-no-repeat before:bg-center before:bg-[length:75%]
  }
}
input[type="checkbox"]:checked::before{
  background-image: url('assets/checkmark.svg');
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}